.mainItems{
    object-fit: contain;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.sideItems{
    object-fit: contain;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.columnItems{
    float: left;
    
}

.rowItems{
    position: relative;
}

