.text input{
    font-family: 'Courier New', monospace;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border:10px;
}